Makefile
*Makefile.in
.deps
config.log
config.status
libtool
ode-config
ode.pc
ode/src/config.h
ode/src/stamp-h1
*.lo
*.o
*.la
.libs

drawstuff/dstest/dstest
ode/.DS_Store
ode/demo/demo_I
ode/demo/demo_basket
ode/demo/demo_boxstack
ode/demo/demo_buggy
ode/demo/demo_cards
ode/demo/demo_chain1
ode/demo/demo_chain2
ode/demo/demo_collision
ode/demo/demo_convex_cd
ode/demo/demo_crash
ode/demo/demo_cyl
ode/demo/demo_cylvssphere
ode/demo/demo_feedback
ode/demo/demo_friction
ode/demo/demo_gyroscopic
ode/demo/demo_heightfield
ode/demo/demo_hinge
ode/demo/demo_jointPR
ode/demo/demo_jointPU
ode/demo/demo_joints
ode/demo/demo_kinematic
ode/demo/demo_motion
ode/demo/demo_motor
ode/demo/demo_moving_convex
ode/demo/demo_moving_trimesh
ode/demo/demo_ode
ode/demo/demo_piston
ode/demo/demo_plane2d
ode/demo/demo_slider
ode/demo/demo_space
ode/demo/demo_space_stress
ode/demo/demo_step
ode/demo/demo_trimesh
ode/demo/make_lcp_benchmark.sh
ode/src/config.h.in~
ode/src/matrix.cu
ou/autom4te.cache/

.DS_Store
autom4te.cache/

aclocal.m4
build/premake4.lua
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
ode/src/config.h.in
ou/configure
report_demo_ode.sh
state.dif

